<section data-nx-sidebar>
  <aside>previous | next</aside>
  <div data-nx-search>
    <input type="search" />
  </div>
  <div data-nx-options-select>
    <select>
      <option>New</option>
      <option>Note</option>
      <option>Task</option>
      <option>Attachment</option>
      <option>Sketch</option>
    </select>
  </div>
  <nav data-nx-navigation>
    <ol>
      <li>
        <a href="#">Home</a>
      </li>
      <li>
        <a href="#">Shortcuts</a>
      </li>
      <li>
        <a href="#">Notes</a>
      </li>
      <li>
        <a href="#">Tasks</a>
      </li>
      <li>
        <a href="#">Notebooks</a>
      </li>
      <li>
        <a href="#">Tags</a>
      </li>
    </ol>
  </nav>
  <div data-nx-help>Need a little help?</div>
</section>
<main>
  <h2>More Coming Soon...</h2>
  <details>
    <summary>Concept</summary>
    <p>Plan on using this application to detail processes</p>
  </details>
</main>
